/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ADD8E6; /* Light blue color */
    height: 80px; /* Set navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text {
    color: #333; /* Text color */
    font-weight: bold; /* Bold text */
    font-size: 40px; /* Large text size */
}
